
<!DOCTYPE html>
 <html> 
  <head>
    <title>Error ACRA Node Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
 
  </head>
<body>
<div style="margin-top:10px;margin-bottom:10px;margin-right:10px;margin-left:10px;">
    <div class="alert alert-error">
        <%= error %>
    </div>
</div>
</body>
</html>